@font-face {
  font-family: "MyFont";
  src: url("./my-font.woff2") format("woff2"),
    url("./my-font.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #cbcdd1;
}

/* nav & footer */
.color-coffee {
  color: #f9faff;
  background-color: #262626;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 24px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.content {
  margin: 0 15%;
}

#input {
  align-self: center;
}

.mealsHolder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  background-color: #f9faff;
  padding: 30px 30px 30px 40px;
}

.mealCard {
  padding: 20px;
}

.meal-likes {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 200px;
}

.meal-img {
  width: 200px;
}

.likes-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.footer {
  text-align: center;
  padding: 16px;
}

#errorContainer {
  display: flex;

  font-size: 2rem;
  opacity: 1;
  transition: opacity 10s;
  z-index: 1;
}

/* Popup window */

/* .popup {
  text-align: center; //Not working
} */

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: pink;
  font-size: 20px;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
